# CSV module provides functionality to read and write a wide variety of csv formats
1. CSV is not exactly a standard
2. a variety of flavours exists known as dialects
3. most common one is Excel
4. Default parser dialect in python csv module is excel
5. csv.reader(f, delimiter, qoute char ) gives an iterator

In [1]:
with open('data/actors.csv') as f:
    for row in f:
        print(row)

First Name,Last Name,DOB,Sketches

John,Cleese,10/27/39,"The Cheese Shop, Ministry of Silly Walks, It's the Arts"

Eric,Idle,3/29/43,"The Cheese Shop, Nudge Nudge, ""Spam"""

Peter,O'Toole,8/2/32,Lawrence of Arabia

### its very difficult to clean this so we would use csv module

In [2]:
import csv

In [4]:
with open('data/actors.csv') as f:
    reader = csv.reader(f, delimiter=',', quotechar='"')
    for row in reader:
        print(row)

['First Name', 'Last Name', 'DOB', 'Sketches']
['John', 'Cleese', '10/27/39', "The Cheese Shop, Ministry of Silly Walks, It's the Arts"]
['Eric', 'Idle', '3/29/43', 'The Cheese Shop, Nudge Nudge, "Spam"']
['Peter', "O'Toole", '8/2/32', 'Lawrence of Arabia']

## Dialects
The Dialect class is a container class whose attributes contain information for how to handle doublequotes, whitespace, delimiters, etc. Due to the lack of a strict CSV specification, different applications produce subtly different CSV data. Dialect instances define how reader and writer instances behave.

In [5]:
csv.list_dialects()

['excel', 'excel-tab', 'unix']

In [6]:
with open('data/actors.pdv') as f:
    for row in f:
        print(row)

FIRST_NAME| LAST_NAME| DOB| SKETCHES

John|Cleese| 10/27/39| 'The Cheese Shop, Ministry of Silly Walks, It\'s the Arts'

Eric| Idle| 3/29/43| 'The Cheese Shop, Nudge Nudge, "Spam"'

Peter| 'O\'Toole'| 8/2/32| Lawrence of Arabia

In [13]:
with open('data/actors.pdv') as f:
    reader = csv.reader(
        f, 
        delimiter='|', 
        quotechar="'", 
        escapechar='\\',  # escaping the backslash
        skipinitialspace=True # automatically trims spaces immediately following each |
    )
    for row in reader:
        print(row)

['FIRST_NAME', 'LAST_NAME', 'DOB', 'SKETCHES']
['John', 'Cleese', '10/27/39', "The Cheese Shop, Ministry of Silly Walks, It's the Arts"]
['Eric', 'Idle', '3/29/43', 'The Cheese Shop, Nudge Nudge, "Spam"']
['Peter', "O'Toole", '8/2/32', 'Lawrence of Arabia']

### instead of typing in the args to csv reader everytime we can register the dialect

In [14]:
csv.register_dialect(
    'pdv',
    delimiter='|', 
    quotechar="'", 
    escapechar='\\',  
    skipinitialspace=True 
)

In [16]:
csv.list_dialects()

['excel', 'excel-tab', 'unix', 'pdv']

In [17]:
with open('data/actors.pdv') as f:
    reader = csv.reader(f, dialect='pdv')
    for row in reader:
        print(row)

['FIRST_NAME', 'LAST_NAME', 'DOB', 'SKETCHES']
['John', 'Cleese', '10/27/39', "The Cheese Shop, Ministry of Silly Walks, It's the Arts"]
['Eric', 'Idle', '3/29/43', 'The Cheese Shop, Nudge Nudge, "Spam"']
['Peter', "O'Toole", '8/2/32', 'Lawrence of Arabia']

### example of a poorly formated file

In [25]:
with open('data/census.csv') as f:
    for i in range(10):  # print first 9 lines instead of entire file.
        print(next(f).strip()) # to remove trailing newline char

Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
United States," 284,796,887 "," 282,124,631 "," 281,421,906 "
Alabama," 4,464,356 "," 4,451,493 "," 4,447,100 "
Alaska," 634,892 "," 627,601 "," 626,932 "
Arizona," 5,307,331 "," 5,165,274 "," 5,130,632 "
Arkansas," 2,692,090 "," 2,678,030 "," 2,673,400 "
California," 34,501,130 "," 34,000,446 "," 33,871,648 "
Colorado," 4,417,714 "," 4,323,410 "," 4,301,261 "
Connecticut," 3,425,074 "," 3,410,079 "," 3,405,565 "
Delaware," 796,165 "," 786,234 "," 783,600 "

In [28]:
with open('data/census.csv') as f:
    reader = csv.reader(f, dialect='excel')
    for row in reader:
        print(len(row), row)  # count how many fields in reach record to check correctness of parsing - looks right.

4 ['Geographic Area', 'July 1, 2001 Estimate', 'July 1, 2000 Estimate', 'April 1, 2000 Population Estimates Base']
4 ['United States', ' 284,796,887 ', ' 282,124,631 ', ' 281,421,906 ']
4 ['Alabama', ' 4,464,356 ', ' 4,451,493 ', ' 4,447,100 ']
4 ['Alaska', ' 634,892 ', ' 627,601 ', ' 626,932 ']
4 ['Arizona', ' 5,307,331 ', ' 5,165,274 ', ' 5,130,632 ']
4 ['Arkansas', ' 2,692,090 ', ' 2,678,030 ', ' 2,673,400 ']
4 ['California', ' 34,501,130 ', ' 34,000,446 ', ' 33,871,648 ']
4 ['Colorado', ' 4,417,714 ', ' 4,323,410 ', ' 4,301,261 ']
4 ['Connecticut', ' 3,425,074 ', ' 3,410,079 ', ' 3,405,565 ']
4 ['Delaware', ' 796,165 ', ' 786,234 ', ' 783,600 ']
4 ['District of Columbia', ' 571,822 ', ' 571,066 ', ' 572,059 ']
4 ['Florida', ' 16,396,515 ', ' 16,054,328 ', ' 15,982,378 ']
4 ['Georgia', ' 8,383,915 ', ' 8,229,823 ', ' 8,186,453 ']
4 ['Hawaii', ' 1,224,398 ', ' 1,212,281 ', ' 1,211,537 ']
4 ['Idaho', ' 1,321,006 ', ' 1,299,258 ', ' 1,293,953 ']
4 ['Illinois', ' 12,482,301 ', ' 12,435,970 ', ' 12,419,293 ']
4 ['Indiana', ' 6,114,745 ', ' 6,089,950 ', ' 6,080,485 ']
4 ['Iowa', ' 2,923,179 ', ' 2,927,509 ', ' 2,926,324 ']
4 ['Kansas', ' 2,694,641 ', ' 2,691,750 ', ' 2,688,418 ']
4 ['Kentucky', ' 4,065,556 ', ' 4,047,424 ', ' 4,041,769 ']
4 ['Louisiana', ' 4,465,430 ', ' 4,469,970 ', ' 4,468,976 ']
4 ['Maine', ' 1,286,670 ', ' 1,276,961 ', ' 1,274,923 ']
4 ['Maryland', ' 5,375,156 ', ' 5,310,908 ', ' 5,296,486 ']
4 ['Massachusetts', ' 6,379,304 ', ' 6,357,072 ', ' 6,349,097 ']
4 ['Michigan', ' 9,990,817 ', ' 9,952,006 ', ' 9,938,444 ']
4 ['Minnesota', ' 4,972,294 ', ' 4,931,093 ', ' 4,919,479 ']
4 ['Mississippi', ' 2,858,029 ', ' 2,849,100 ', ' 2,844,658 ']
4 ['Missouri', ' 5,629,707 ', ' 5,603,553 ', ' 5,595,211 ']
4 ['Montana', ' 904,433 ', ' 903,157 ', ' 902,195 ']
4 ['Nebraska', ' 1,713,235 ', ' 1,712,577 ', ' 1,711,263 ']
4 ['Nevada', ' 2,106,074 ', ' 2,018,723 ', ' 1,998,257 ']
4 ['New Hampshire', ' 1,259,181 ', ' 1,239,881 ', ' 1,235,786 ']
4 ['New Jersey', ' 8,484,431 ', ' 8,429,007 ', ' 8,414,350 ']
4 ['New Mexico', ' 1,829,146 ', ' 1,821,282 ', ' 1,819,046 ']
4 ['New York', ' 19,011,378 ', ' 18,989,332 ', ' 18,976,457 ']
4 ['North Carolina', ' 8,186,268 ', ' 8,077,367 ', ' 8,049,313 ']
4 ['North Dakota', ' 634,448 ', ' 640,919 ', ' 642,200 ']
4 ['Ohio', ' 11,373,541 ', ' 11,359,955 ', ' 11,353,140 ']
4 ['Oklahoma', ' 3,460,097 ', ' 3,453,250 ', ' 3,450,654 ']
4 ['Oregon', ' 3,472,867 ', ' 3,429,293 ', ' 3,421,399 ']
4 ['Pennsylvania', ' 12,287,150 ', ' 12,282,591 ', ' 12,281,054 ']
4 ['Rhode Island', ' 1,058,920 ', ' 1,050,236 ', ' 1,048,319 ']
4 ['South Carolina', ' 4,063,011 ', ' 4,023,438 ', ' 4,012,012 ']
4 ['South Dakota', ' 756,600 ', ' 755,509 ', ' 754,844 ']
4 ['Tennessee', ' 5,740,021 ', ' 5,702,027 ', ' 5,689,283 ']
4 ['Texas', ' 21,325,018 ', ' 20,946,503 ', ' 20,851,820 ']
4 ['Utah', ' 2,269,789 ', ' 2,241,555 ', ' 2,233,169 ']
4 ['Vermont', ' 613,090 ', ' 609,709 ', ' 608,827 ']
4 ['Virginia', ' 7,187,734 ', ' 7,104,016 ', ' 7,078,515 ']
4 ['Washington', ' 5,987,973 ', ' 5,908,372 ', ' 5,894,121 ']
4 ['West Virginia', ' 1,801,916 ', ' 1,807,099 ', ' 1,808,344 ']
4 ['Wisconsin', ' 5,401,906 ', ' 5,372,243 ', ' 5,363,675 ']
4 ['Wyoming', ' 494,423 ', ' 494,001 ', ' 493,782 ']

In [41]:
with open('data/census.csv') as f:
    result = []
    reader = csv.reader(f, dialect='excel')
    result.append(next(reader))
    for row in reader:
        row[1:] = [int(el.replace(',','_').strip()) for el in row[1:]]
        result.append(row)

result

[['Geographic Area',
  'July 1, 2001 Estimate',
  'July 1, 2000 Estimate',
  'April 1, 2000 Population Estimates Base'],
 ['United States', 284796887, 282124631, 281421906],
 ['Alabama', 4464356, 4451493, 4447100],
 ['Alaska', 634892, 627601, 626932],
 ['Arizona', 5307331, 5165274, 5130632],
 ['Arkansas', 2692090, 2678030, 2673400],
 ['California', 34501130, 34000446, 33871648],
 ['Colorado', 4417714, 4323410, 4301261],
 ['Connecticut', 3425074, 3410079, 3405565],
 ['Delaware', 796165, 786234, 783600],
 ['District of Columbia', 571822, 571066, 572059],
 ['Florida', 16396515, 16054328, 15982378],
 ['Georgia', 8383915, 8229823, 8186453],
 ['Hawaii', 1224398, 1212281, 1211537],
 ['Idaho', 1321006, 1299258, 1293953],
 ['Illinois', 12482301, 12435970, 12419293],
 ['Indiana', 6114745, 6089950, 6080485],
 ['Iowa', 2923179, 2927509, 2926324],
 ['Kansas', 2694641, 2691750, 2688418],
 ['Kentucky', 4065556, 4047424, 4041769],
 ['Louisiana', 4465430, 4469970, 4468976],
 ['Maine', 1286670, 1276961, 1274923],
 ['Maryland', 5375156, 5310908, 5296486],
 ['Massachusetts', 6379304, 6357072, 6349097],
 ['Michigan', 9990817, 9952006, 9938444],
 ['Minnesota', 4972294, 4931093, 4919479],
 ['Mississippi', 2858029, 2849100, 2844658],
 ['Missouri', 5629707, 5603553, 5595211],
 ['Montana', 904433, 903157, 902195],
 ['Nebraska', 1713235, 1712577, 1711263],
 ['Nevada', 2106074, 2018723, 1998257],
 ['New Hampshire', 1259181, 1239881, 1235786],
 ['New Jersey', 8484431, 8429007, 8414350],
 ['New Mexico', 1829146, 1821282, 1819046],
 ['New York', 19011378, 18989332, 18976457],
 ['North Carolina', 8186268, 8077367, 8049313],
 ['North Dakota', 634448, 640919, 642200],
 ['Ohio', 11373541, 11359955, 11353140],
 ['Oklahoma', 3460097, 3453250, 3450654],
 ['Oregon', 3472867, 3429293, 3421399],
 ['Pennsylvania', 12287150, 12282591, 12281054],
 ['Rhode Island', 1058920, 1050236, 1048319],
 ['South Carolina', 4063011, 4023438, 4012012],
 ['South Dakota', 756600, 755509, 754844],
 ['Tennessee', 5740021, 5702027, 5689283],
 ['Texas', 21325018, 20946503, 20851820],
 ['Utah', 2269789, 2241555, 2233169],
 ['Vermont', 613090, 609709, 608827],
 ['Virginia', 7187734, 7104016, 7078515],
 ['Washington', 5987973, 5908372, 5894121],
 ['West Virginia', 1801916, 1807099, 1808344],
 ['Wisconsin', 5401906, 5372243, 5363675],
 ['Wyoming', 494423, 494001, 493782]]

# lets write this file to a csv file in excel format

In [42]:
with open('data/cleaned_census.csv', 'w') as f:
    writer = csv.writer(f, dialect='excel')
    for row in result:
        writer.writerow(row)

In [44]:
with open('data/cleaned_census.csv') as f:
    for row in f:
        print(row.strip())

Geographic Area,"July 1, 2001 Estimate","July 1, 2000 Estimate","April 1, 2000 Population Estimates Base"
United States,284796887,282124631,281421906
Alabama,4464356,4451493,4447100
Alaska,634892,627601,626932
Arizona,5307331,5165274,5130632
Arkansas,2692090,2678030,2673400
California,34501130,34000446,33871648
Colorado,4417714,4323410,4301261
Connecticut,3425074,3410079,3405565
Delaware,796165,786234,783600
District of Columbia,571822,571066,572059
Florida,16396515,16054328,15982378
Georgia,8383915,8229823,8186453
Hawaii,1224398,1212281,1211537
Idaho,1321006,1299258,1293953
Illinois,12482301,12435970,12419293
Indiana,6114745,6089950,6080485
Iowa,2923179,2927509,2926324
Kansas,2694641,2691750,2688418
Kentucky,4065556,4047424,4041769
Louisiana,4465430,4469970,4468976
Maine,1286670,1276961,1274923
Maryland,5375156,5310908,5296486
Massachusetts,6379304,6357072,6349097
Michigan,9990817,9952006,9938444
Minnesota,4972294,4931093,4919479
Mississippi,2858029,2849100,2844658
Missouri,5629707,5603553,5595211
Montana,904433,903157,902195
Nebraska,1713235,1712577,1711263
Nevada,2106074,2018723,1998257
New Hampshire,1259181,1239881,1235786
New Jersey,8484431,8429007,8414350
New Mexico,1829146,1821282,1819046
New York,19011378,18989332,18976457
North Carolina,8186268,8077367,8049313
North Dakota,634448,640919,642200
Ohio,11373541,11359955,11353140
Oklahoma,3460097,3453250,3450654
Oregon,3472867,3429293,3421399
Pennsylvania,12287150,12282591,12281054
Rhode Island,1058920,1050236,1048319
South Carolina,4063011,4023438,4012012
South Dakota,756600,755509,754844
Tennessee,5740021,5702027,5689283
Texas,21325018,20946503,20851820
Utah,2269789,2241555,2233169
Vermont,613090,609709,608827
Virginia,7187734,7104016,7078515
Washington,5987973,5908372,5894121
West Virginia,1801916,1807099,1808344
Wisconsin,5401906,5372243,5363675
Wyoming,494423,494001,493782